:root {
    --main-card-font-family: 'Roboto Mono', monospace;
    --main-label-font-size: 16px;
}

.creditCardForm {
    width: 64%;
    height: 190px;
    background-color: #9c5d9a;
    border-radius: 20px;
    margin-top: 2%;
}

.cardDataBlock {
    padding: 1%;
}

.cardNumberBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cardNumber {
    width: 24%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    margin-right: 2%;
    text-align: center;
    font-family: var(--main-card-font-family);
    font-size: 18px;
}

.labels {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.cardLabel {
    padding: 3% 0 3% 0;
    font-family: var(--main-card-font-family);
    font-size: var(--main-label-font-size);
    font-weight: bold;
}

.cardExpLabel {
    width: 80%;
    font-family: var(--main-card-font-family);
    font-size: var(--main-label-font-size);
    font-weight: bold;
}

.cardCvvLabel {
    font-family: var(--main-card-font-family);
    font-size: var(--main-label-font-size);
    font-weight: bold;
}

.dateAndCvvBlock {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.cardExp {
    display: flex;
    flex-direction: row;
}

.expire {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-family: var(--main-card-font-family);
    font-size: var(--main-label-font-size);
}

.expDevider {
    font-family: var(--main-card-font-family);
    font-size: 25px;
    font-weight: bold;
    padding: 0 1%;
}

.cvv {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    margin-left: 75%;
    text-align: center;
    font-family: var(--main-card-font-family);
    font-size: 16px;
}
.helpButton{
    position: relative;
    right: 60%;
    top: 150px;
}
